#logger {
    width: 40vw;
    height: 50px;
    border-radius: 2rem;
    border: 0.2px solid grey;
    padding-inline: 3%;
    transition: border 200ms ease-in-out;
}
#logger:focus,
#logger:focus-visible,
#logger:active {
    outline: none !important;
    border: 2px solid white;
}
#loggerLabel {
    z-index: 9999;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-10%,-50%);
    color: white;
    font-weight: lighter;
    padding-inline: 0.5%;
    font-size: 14px;
    background-color: #000000;
    transition: all 150ms ease-in-out;
}
.loggerForm:focus-within #loggerLabel,
.loggerForm.lockedAf #loggerLabel {
    top: 0;
    left: 5%;
    font-size: 10px;
}
#loggerButton,#loggerLabel {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#loggerButton {
    font-size: 1.2rem;
}